<!-- confirm modal -->
<div class="modal-body modal-twitter">
    <div class="modal-icon modal-icon-question">?</div>
    <p>Please authenticate with Twitter to receive your gift</p>

    <a href="javascript:" class="twitter textbox" ng-click="loginWithTwitter()">
        <span class="icon-twitter"></span>Login with Twitter
    </a>
</div>
<div class="modal-footer">
    <div class="btn-group">
        <button class="btn btn-large btn-full-width" data-ng-click="Cancel()">Cancel</button>
    </div>
</div>
<!-- end confirm modal -->
