<div id="login" class="reset-password reset-password-step2">

    <div class="wrapper">
        <header>
            <div class="logo vertical-align-subs">
                <img src="assets/i/logo-main.png" alt="LOGO"/>

                <div class="logo-back-rect"></div>
            </div>
        </header>
        <!-- End header -->

        <div class="main-container">
            <h2>RESET YOUR PASSWORD</h2>

            <form name="resetPasswordForm" data-ng-submit="validate();">
                <div class="info">
                    Please type your new password <br/>on textbox below :
                </div>
                <fieldset>
                    <!-- new password -->
                    <div class="form-group vertical-align-subs">
                        <div class="icon sprite sprite-lock"></div>
                        <input type="password" name="password"
                               data-ng-class="{'invalid': isElementInvalid(resetPasswordForm.password)}"
                               data-ng-minlength="passwordLen"
                               placeholder="New password" autocomplete="off" data-ng-model="password"
                               required/>
                    </div>

                    <!-- confirm new password -->
                    <div class="form-group confirm-password-group vertical-align-subs">
                        <div class="icon sprite sprite-lock"></div>
                        <input type="password" name="confirmPassword"
                               data-ng-class="{'invalid': isElementInvalid(resetPasswordForm.confirmPassword)}"
                               placeholder="Confirm password" autocomplete="off"
                               data-ng-model="confirmPassword" required/>
                        <!-- if confirm password match password, show tick around green circle -->
                        <div data-ng-show="checkConfirmPassword()" class="circle vertical-align-subs">
                            <div class="icon sprite sprite-white-tick"></div>
                        </div>
                    </div>
                </fieldset>
                <!-- validate error message -->
                <div class="error-info" data-ng-show="resetPasswordForm.$error">
                    <span ng-show="resetPasswordForm.password.$touched">
                        <span ng-show="resetPasswordForm.password.$error.required">
                            Password is required.<br>
                        </span>
                        <span ng-show="resetPasswordForm.password.$error.minlength">
                            The password must have "{{passwordLen}}" chars at least.<br>
                        </span>
                        <span ng-show="resetPasswordForm.password.$error.badContent">
                            The password must contain both numbers and chars.<br>
                        </span>
                    </span>
                    <span ng-show="resetPasswordForm.confirmPassword.$touched">
                        <span ng-show="resetPasswordForm.confirmPassword.$error.required">
                            Confirm Password is required.<br>
                        </span>
                        <span ng-show="resetPasswordForm.confirmPassword.$error.noMatch">
                            Confirm password is not same as password.<br>
                        </span>
                    </span>
                </div>
                <!-- reset password button  -->
                <div class="controls">
                    <input type="submit" class="hide">
                    <a href="javascript:;" class="btn btn-reset-password btn-primary btn-large"
                       data-ng-disabled="!checkConfirmPassword()"
                       data-ng-click="validate();">Reset My
                        Password</a>
                </div>
            </form>
        </div>
        <!-- End .main-container -->
    </div>
</div>
